# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]eploy/
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Pp]ackages/

# Visual Studio 2015 cache/options directory
.vs/

# E
*.csproj
*.sln
*.DotSettings
*.DotSettings.user

# editor
username.txt