# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]eploy/

# Visual Studio 2015 cache/options directory
.vs/

# unity
Library/
obj/
Temp/
Build/

# game
Logs/
Data/Save/
Data/Cfg/
Data/Config/
Libs/
Cache/

# E
*.csproj
*.sln
*.DotSettings

# editor
username.txt